@model DotNet_Project7.Models.Student
@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
<h2 class="text-primary text-center">Edit Student</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container row">
        <div class="form-group row">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Address)
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Age)
            @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
        </div>
        <div class="form-group row">
            <input type="submit" value="Update" class="btn btn-info form-control" />
        </div>
    </div>

}
@Html.ActionLink("Back To List", "Index")
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


